body {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
}

.form {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

input {
    flex-grow: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 4px;
    padding: 10px;
    border-radius: 4px;
    background: #eeeeee;
}

#clearBtn {
    width: 100%;
    border: none;
}