* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    min-height: 100vh; 
}

nav {
    background-color: aqua;
    width: 320px;
    padding: 20px;
}

section {
    background-color: blueviolet;
    flex: 1; 
    padding: 20px; 
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    nav {
        width: 100%; 
    }
}
