* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: flex;
    min-height: 100vh; 
}

nav {
    background-color: rgb(41, 44, 44);
    width: 240px;
    padding: 20px;
    color: white;
}

section {
    flex: 1; 
    padding: 20px; 
    background-image: url('https://i.pinimg.com/736x/15/c6/91/15c69101597906069bd42f34eb0d953f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    padding: 24px;
    list-style-type: none;
    gap: 40px;
}

li {
    margin-bottom: 40px;
    font-size: 24px;
}

p {
    margin-top: 24px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    nav {
        width: 100%; 
    }
    ul {
        display: flex;
    }
}
