body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.cont {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
}

.in-group {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;
}

input {
    padding: 12px;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: aliceblue;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(173, 182, 189);
}

ul {
    list-style-type: none;
    padding: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: red;
    padding: 5px 12px;
    color: white;
    margin-left: 12px;
    
}

.delete-btn:hover {
    background-color: rgb(67, 25, 25);
}