body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 24px;
    background-color: rgb(243, 242, 242);
    color: rgb(43, 43, 43);
    text-align: center;
}

img {
    width: 300px;
    display: block;
    margin: 24px auto;
    max-width: 100%;
    border-radius: 12px;
}

.text-about-me {
    width: 80%;
    margin: 24px auto;
    background-color: rgb(254, 254, 254);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}

h1 {
    color: rgb(210, 93, 93);
    text-align: center;
}

h2 {
    color: rgb(132, 41, 184);
}

ul {
    padding-left: 20px;
    text-align: start;
}

p {
    margin-bottom: 14px;
}

.fav {
    display: flex;
    justify-content: space-around;
}